name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  run:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: 'dev'
          java-version: '17'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'

      - name: Run solutions for AOC 2022
        run: |
          mvn compile --batch-mode --no-transfer-progress exec:java -Dexec.mainClass="jab.aoc.day1.Day1"
          mvn compile --batch-mode --no-transfer-progress exec:java -Dexec.mainClass="jab.aoc.day2.Day2"
